/* Estilos para celulares */
@media (orientation: portrait) {
    /* Conjunto imagem texto */
    .bloco {
        align-items: center; /* Centraliza verticalmente os itens */
        padding-left: 8%;
    }

    .bloco img {
        width: 100%;
    }

    .bloco p{
        font-size: 2vw;
        text-align: justify;
    }
}

/* Estilos para computadores */
@media (orientation: landscape) {
    /* Conjunto imagem texto */

    .bloco {
        display: flex; /* Aplica um layout flexível */
        align-items: center; /* Centraliza verticalmente os itens */
        padding-left: 2.3vw;
    }

    .bloco img {
        margin-right: 2%; /* Define uma margem à direita da imagem */
        width: 600px;
    }

    .bloco p{
        font-size: 20px;
        text-align: justify;
    }
}