  :root{
    --phx: #FE7F02;
  }

  /* Estilos para a imagem de abertura */
  #splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000a1; /* Cor de fundo para a abertura */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* O valor 9999 garante que essa imagem sobreponha todas as partes do site */
  }

  #splash-screen img{
    max-width: 10%;
    max-height: 10%; /* Define o tamanho da imagem */
    animation: oscilar 0.9s infinite alternate, desaparecer 1s ease-in 1s forwards; /* Aplicar as animações "oscilar" e "desaparecer" */
  }

  /* Definir a animação "oscilar" */
  @keyframes oscilar {
    from { transform: scale(1); } /* Escala inicial da imagem */
    to { transform: scale(1.2); } /* Escala final da imagem */
  }

  /* Definir a animação "desaparecer" */
  @keyframes desaparecer {
    from { opacity: 1; } /* Opacidade inicial da imagem (visível) */
    to { opacity: 0; } /* Opacidade final da imagem (invisível) */
  }

  /* Estilos para computadores */
  @media (orientation: landscape) {
    .carousel {
      padding-top: 0;
      padding-bottom: 3vh;
      overflow: hidden;
      height: 75vh; /* Defina a altura desejada da imagem do carrossel */
      width: 100vw;
      margin: 0 auto;
      z-index: 50; /* Isso juntamente a esse mesmo comando no css dentro de headerfooter.js define que o menu dropdown irá ficar em uma camada acima do carrossel*/
    }
  }

  /* Estilos para celulares */
  @media (orientation: portrait) {
    .carousel {
      padding-top: 0;
      padding-bottom: 3vh;
      overflow: hidden;
      height: 25vh; /* Defina a altura desejada da imagem do carrossel */
      width: 100vw;
      margin: 0 auto;
      z-index: 50; /* Isso juntamente a esse mesmo comando no css dentro de headerfooter.js define que o menu dropdown irá ficar em uma camada acima do carrossel*/
    }
  }

  .carousel-indicator {
    position: absolute;
    bottom: 10vh; /* Ajuste a distância inferior conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
  }

  .carousel-indicator span {
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }

  .carousel-indicator span.active {
    background-color: var(--phx);
  }

  .slides-container {
    display: flex;
    transition: transform 0.7s ease-in-out; /* Transição horizontal suave */
    width: calc(100% * var(--total-slides)); /* Definir o tamanho total do contêiner das imagens */
  }

  .slide {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex; /* Adiciona um novo contêiner para garantir ajuste */
    justify-content: center; /* Centraliza horizontalmente a imagem */
    align-items: center; /* Centraliza verticalmente a imagem */
    height: 100%;
    width: 100%;
  }

  .slide img {
    max-width: 100%; /* Define o tamanho dessa img dentro do corrossel para oculpar todo o carrossel*/
    max-height: 100%;
  }

  .slide.active {
    display: block;
  }


  /* Estilos para celulares */
  @media (orientation: portrait) {
    .container {
      display: none;   /* Oculto para celular*/
    }
  }

  /* Estilos para computadores */
  @media ((orientation: landscape)) {
    main{ /* altero o estilo da main para as imagens do carrossel oculparem de a largura inteira*/
      margin: 0;
      padding: 0;
    }

    .container {
      padding-top: 3vh;
      padding-bottom: 3vh;
      display: flex;
      flex-direction: row; /* Define que os 3 retangulos com foto e texto fiquem na horizontal */
      align-items: center;
      justify-content: center;
    }

    .elemento {
      padding: 3vh; 
      position: relative;
      display: flex;
      max-height: 90vh; /*Define o tamanho maximo do elemento*/
      max-width: 25vw;
      box-sizing: border-box;
    }
    
    .elemento .img-wrapper {
      position: relative;
      width: 20vw; /* Largura desejada para a imagem*/
      height: 55vh; /* Altura desejada para a imagem */
      overflow: hidden;
      border-radius: 4%; /* Arredopnda as bordas */
    }
    
    .elemento .img-wrapper img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 4%; /* Arredopnda as bordas */
      transition: transform 0.3s ease;
      z-index: 0; /* Garante que a imagem fique abaixo do retângulo */
    }

    .elemento p {
      margin: 8%;
      font-size: 20px;
      color: black; /* Cor do texto */
      position: absolute;
      left: 0%;
      padding: 1vh;
      transition: transform 0.3s ease;
      opacity: 0;
      z-index: 2; /* Garante que o texto fique acima do retângulo */
    }

    /* Adicione um elemento div para ser o retângulo com movimento */
    .img-wrapper::before{
      content: "";
      position: absolute;
      border-radius: 4%; /* Arredonda as bordas */
      box-sizing: border-box;
      width: 100%;
      height: 0;
      bottom: 0;
      left: 0;
      background-color:var(--phx);
      opacity: 0.7;
      transition: height 0.3s ease;
      z-index: 1; /* Garante que o retângulo fique entre a imagem e o texto */
    }
    
    /* Efeito de movimento de baixo para cima no hover */
    .img-wrapper:hover::before {
      height: 100%;
    }

    /* Efeito de escala ao passar o mouse */
    .elemento:hover .img-wrapper,
    .elemento:hover p {
      transform: scale(1.05);
      opacity: 1;
      transition: transform 0.4s ease;
    }
  }