@font-face {
    font-family: 'haettenschweiler';
    src: url(../fontes/Haettenschweiler.ttf) format('truetype');
}

:root {
    --espacamento-celular: 0.13vw; /* Definindo o espacamento para os nomes e redes sociais no celular*/

    --espacamento-computador: 0.1vh; /* Definindo o espacamento para os nomes e redes sociais no computador*/
    --fonte-nome-computador: 65px; /* Define o tamanho da fonte do nome da compitania e dos membros */
    --fonte-contato-computador: 28px; /* Define o tamanho da fonte do contato da compitania e dos membros */

    --borda: 0.2vw;
}

/* 
    Essa parte inicial do css é genérica, está presente tanto para o estilo do celular quanto para o do computador, sendo responsavel apenas pelas formas e pelas cores. A proxima parte do css dento do '@media()' é resonsável pela parte "númerica" do css, tamanho, distancia, quantidade em uma grade, etc.

*/

/* As classes img-redonda e borda-phx são classes genericas que deixam a imagem redonda e com borda respectivamente*/
.img-redonda{
    border-radius: 50%; /* Deixa a imagem redonda */ 
    box-sizing: border-box; /* Faz a borda ser incluída no cálculo total da dimensão do elemento */  
}

.borda-phx{
    border: var(--borda) solid  #FE7F02; /* Adiciona uma borda colorida com 3 pixels de espessura */
}

.capitania{ /* Responsável pelo estilo da capinania */
    font-size: 2.5vw;
    font-family: 'haettenschweiler', sans-serif;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}


.grid-container { /* Define o formado de grade da tela dos departamentos */
    display: grid;
    grid-auto-flow: dense;
}

.grid-membro { /* Define as caracteristicas do conjunto imagem-nome do membro */
    display: flex;
    font-family: 'haettenschweiler', sans-serif;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}


/* Estilos para celulares */
@media (orientation: portrait) {
    .capitania{
        height: 6vw;
        padding-top: 8vh;
        padding-bottom: 8vh;
        letter-spacing: var(--espacamento-celular); /* Define o espacamento das letras */
    }
    
    .capitania #nome{
        font-size: 4.5vw; /* Tamanho da fonte da descrição da capitania */
    }

    .capitania #contato{
        font-size: 2.75vw; /* Define o tamanho da fonte do email */
    }

    .capitania img{
        height: 22vw;
        width: 22vw; /* Os valores de height e width tem que ser iguais para a imagem ficar redonda */ 
    }

    /* bloco imagem texto */
    .grid-container {
        grid-template-columns: repeat(3, 1fr); /* Cria três colunas com largura igual */
    }
    
    .grid-membro {
        height: 6vw;
        padding-top: 8vh;
        padding-bottom: 8vh;
        letter-spacing: var(--espacamento-celular); /* Define o espacamento das letras */
    }

    .grid-membro #nome{ /* Define o tamanho da fonte do nome */
        font-size: 4.5vw;
    }

    .grid-membro #contato{ /* Define o tamanho da fonte do email */
        font-size: 2.75vw;
    }

    .grid-membro img{
        height: 22vw;
    }
}

/* Estilos para computadores */
@media ((orientation: landscape)) {
    
    /* main */
    main h1{
        padding-left: 3.6vw;
        padding-bottom: 10vh;
    }

    .capitania{
        letter-spacing: var(--espacamento-computador); /* Define o espacamento das letras */
    }

    .capitania #nome{ /* Define o tamanho da fonte do nome */
        font-size: var(--fonte-nome-computador);
    }

    .capitania #contato{ /* Define o tamanho da fonte do email */
        font-size: var(--fonte-contato-computador);

    }
    .capitania img{
        height: 300px;
        width: 300px; /* Os valores de height e width tem que ser iguais para a imagem ficar redonda */
    }

    .capitania img:hover {
        transform: translateY(-10px); /* Ajuste a quantidade que o background sobe */
        transition: transform 0.3s ease; /* Adiciona uma transição suave */
    }
    
    /* bloco imagem texto*/

    .grid-membro{
        letter-spacing: var(--espacamento-computador); /* Define o espacamento das letras */
    }

    .grid-membro #nome{ /* Define o tamanho da fonte do nome */
        font-size: var(--fonte-nome-computador);
    }

    .grid-membro #contato{ /* Define o tamanho da fonte do email */
        font-size: var(--fonte-contato-computador);
    }

    .grid-membro img{
        height: 300px;
        width: 300px; /* Os valores de height e width tem que ser iguais para a imagem ficar redonda */
    }

    @media screen and (min-width: 1800px) {   
        .capitania{
            height: 6vw;
            padding-top: 15vh;
            padding-bottom: 20vh;
        }

        .capitania #nome{
            font-size: 7.5vh; /* Tamanho da fonte da descrição da capitania */
        }
    
        .capitania #contato{
            font-size: 3vh; /* Define o tamanho da fonte do email */
        }
    
        .capitania img{
            height: 12vw;
            width: 12vw; /* Os valores de height e width tem que ser iguais para a imagem ficar redonda */ 
        }


        /* Membros */
        .grid-container {
            grid-template-columns: repeat(6, 1fr); /* Cria cinco colunas com largura igual */
            padding-bottom: 18vh;
        }

        .grid-membro {
            height: 6vw;
            padding-top:17vh;
            padding-bottom: 17vh;
        }
        
        .grid-membro #nome{ /* Define o tamanho da fonte do nome */
            font-size: 7.5vh;
        }
    
        .grid-membro #contato{ /* Define o tamanho da fonte do email */
            font-size: 3vh;
        }
    
        .grid-membro img{
            height: 12vw;
            width: 12vw; /* Os valores de height e width tem que ser iguais para a imagem ficar redonda */
        }
    }

    @media screen and (max-width: 1800px) and (min-width: 1500px) {
        .capitania{
            height: 6vw;
            padding-top: 8vh;
            padding-bottom: 18vh;
        }

        .grid-container {
            grid-template-columns: repeat(5, 1fr); /* Cria cinco colunas com largura igual */
            padding-bottom: 18vh;
        }    

        .grid-membro {
            height: 6vw;
            padding-top: 18vh;
            padding-bottom: 28vh;
        }

    }

    @media screen and (max-width: 1499px) and (min-width: 1250px) {
        .capitania{
            height: 6vw;
            padding-top: 18vh;
            padding-bottom: 28vh;
        }

        .grid-container {
            grid-template-columns: repeat(4, 1fr); /* Cria quatro colunas com largura igual */
            padding-bottom: 18vh;
        }

        .grid-membro {
            height: 6vw;
            padding-top: 35vh;
            padding-bottom: 35vh;
        }
    }

    @media screen and (max-width: 1249px) {   
        .capitania{
            height: 6vw;
            padding-top: 23vh;
            padding-bottom: 33vh;
        }

        .capitania #nome{
            font-size: 12vh; /* Tamanho da fonte da descrição da capitania */
        }
    
        .capitania #contato{
            font-size: 5vh; /* Define o tamanho da fonte do email */
        }
    
        .capitania img{
            height: 22vw;
            width: 22vw; /* Os valores de height e width tem que ser iguais para a imagem ficar redonda */ 
        }


        /* Membros */
        .grid-container {
            grid-template-columns: repeat(3, 1fr); /* Cria três colunas com largura igual */
            padding-bottom: 18vh;
        }

        .grid-membro {
            height: 6vw;
            padding-top:45vh;
            padding-bottom: 45vh;
        }
        
        .grid-membro #nome{ /* Define o tamanho da fonte do nome */
            font-size: 12vh;
        }
    
        .grid-membro #contato{ /* Define o tamanho da fonte do email */
            font-size: 5vh;
        }
    
        .grid-membro img{
            height: 30vw;
            width: 30vw; /* Os valores de height e width tem que ser iguais para a imagem ficar redonda */
        }
    }
}
