@font-face {
    font-family: 'haettenschweiler';
    src: url(../fontes/Haettenschweiler.ttf) format('truetype');
}

:root {
    --espacamento-celular: 0.13vw; /* Definindo o espacamento para os nomes e redes sociais no celular*/

    --espacamento-computador: 0.1vh; /* Definindo o espacamento para os nomes e redes sociais no computador*/
    --fonte-nome-computador: 65px; /* Define o tamanho da fonte do nome da compitania e dos membros */
}

/* 
    Essa parte inicial do css é genérica, está presente tanto para o estilo do celular quanto para o do computador, sendo responsavel apenas pelas formas e pelas cores. A proxima parte do css dento do '@media()' é resonsável pela parte "númerica" do css, tamanho, distancia, quantidade em uma grade, etc.

*/

.grid-container {  /* Define o container das parcerias*/
    display: grid;
    grid-auto-flow: dense;
}

.grid-item {
    display: flex;
    font-family: 'haettenschweiler', sans-serif;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}


/* Estilos para celulares */
@media (orientation: portrait) {
    /* bloco imagem texto */

    .grid-container {
        grid-template-columns: repeat(3, 1fr); /* Cria três colunas com largura igual */
    }
    
    .grid-item {
        height: 6vw;
        padding-top: 8vh;
        padding-bottom: 8vh;
        letter-spacing: var(--espacamento-celular); /* Define o espacamento das letras */
    }
    
    .grid-item a{
        font-size: 4.5vw; /* Tamanho da fonte da descrição da parceria */
    }
    
    .grid-item img{
        height: 22vw;
    }
}   

/* Estilos para computadores */
@media (orientation: landscape) {
    /* main */
    main h1{
        padding-left: 3.6vw;
        padding-bottom: 2vh;
    }
    
    /* bloco imagem texto*/
    .grid-container {
        grid-template-columns: repeat(4, 1fr); /* Cria três colunas com largura igual */
    }
    
    .grid-item {
        height: 6vw;
        padding-top: 8vh;
        padding-bottom: 12vh;
    }

    .grid-item a{
        font-size: var(--fonte-nome-computador); /* Tamanho da fonte da descrição da parceria */
        letter-spacing: var(--espacamento-computador);
    }

    .grid-item img{
        height: 300px;
    }

    @media screen and (min-width: 1800px) {   
        /* Membros */
        .grid-container {
            grid-template-columns: repeat(6, 1fr); /* Cria cinco colunas com largura igual */
            padding-bottom: 18vh;
        }

        .grid-item {
            height: 6vw;
            padding-top:17vh;
            padding-bottom: 17vh;
        }
        
        .grid-item a{ /* Define o tamanho da fonte do nome */
            font-size: 7.5vh;
        }
    
        .grid-item img{
            height: 12vw;
            width: 12vw; /* Os valores de height e width tem que ser iguais para a imagem ficar redonda */
        }
    }

    @media screen and (max-width: 1800px) and (min-width: 1500px) {
        .grid-container {
            grid-template-columns: repeat(5, 1fr); /* Cria cinco colunas com largura igual */
            padding-bottom: 18vh;
        }    

        .grid-item {
            height: 6vw;
            padding-top: 18vh;
            padding-bottom: 28vh;
        }

    }

    @media screen and (max-width: 1499px) and (min-width: 1250px) {
        .grid-container {
            grid-template-columns: repeat(4, 1fr); /* Cria quatro colunas com largura igual */
            padding-bottom: 18vh;
        }

        .grid-item {
            height: 6vw;
            padding-top: 35vh;
            padding-bottom: 35vh;
        }
    }

    @media screen and (max-width: 1249px) {   
        /* Membros */
        .grid-container {
            grid-template-columns: repeat(3, 1fr); /* Cria três colunas com largura igual */
            padding-bottom: 18vh;
        }

        .grid-item {
            height: 6vw;
            padding-top:37vh;
            padding-bottom: 37vh;
        }
        
        .grid-item a{ /* Define o tamanho da fonte do nome */
            font-size: 12vh;
        }
    
        .grid-item img{
            height: 30vw;
            width: 30vw; /* Os valores de height e width tem que ser iguais para a imagem ficar redonda */
        }
    }

}       