/* 
    Essa parte inicial do css é genérica, está presente tanto para o estilo do celular quanto para o do computador, sendo responsavel apenas pelas formas e pelas cores. A proxima parte do css dento do '@media()' é resonsável pela parte "númerica" do css, tamanho, distancia, quantidade em uma grade, etc.

*/

@font-face {
    font-family: 'BLANKA';
    src: url(../fontes/Blanka-Regular.ttf) format('truetype');
}

:root{
    --phx: #FE7F02;
}

.container{
    margin: 0;
    padding: 0;
    width: 100%;
}

main{ 
    padding: 0; /* Esse valor é necessário para que o background que altera as cores oculpe a largura inteira da pagina*/
}

main h1{
    padding-left: 2vh;
}

.bloco{ /* É onde está contido cada projeto */
    flex-direction: column;
    padding: 6vh;
    width: 100%;
}

.bloco h2{
    font-family: 'BLANKA', sans-serif;
    font-size: 1.75vw;
}

.bloco:nth-child(odd) {
    background-color:var(--phx); /* Define fundo laranja para divs ímpares */
  }
  
.bloco:nth-child(even) {
    background-color:rgba(208, 198, 190); /* Define fundo branco para divs pares */

}

.imagem-texto{
    flex-direction: row;
}

/* Estilos para celulares */
@media (orientation: portrait) {
    /* Conjunto imagem texto */
    .imagem-texto {
        align-items: center; /* Centraliza verticalmente os itens */
    }

    .imagem-texto img {
        width: 80%;
    }

    .imagem-texto p{
        font-size: 2vw;
        text-align: justify;
    }
}

/* Estilos para computadores */
@media (orientation: landscape) {

    .imagem-texto p{
        margin: 0;
        padding-right: 5vw;
    }

    @media (max-width: 1500px){
        /* Conjunto imagem texto */
        .imagem-texto {
            justify-content: center; /* Centraliza verticalmente os itens */
        }

        .imagem-texto img {
            width: 60%;
            justify-content: center; /* Centraliza verticalmente os itens */
        }

        .imagem-texto p{
            font-size: 2vw;
            text-align: justify;
        }
    }

    @media (min-width: 1500px){
        /* Conjunto imagem texto */
        .imagem-texto {
            display: flex; /* Aplica um layout flexível */
            align-items: flex-start;
            padding-left: 2.3vw;
        }

        .imagem-texto img {
            margin-right: 2%; /* Define uma margem à direita da imagem */
            width: 800px;
        }

        .imagem-texto p{
            font-size: 20px;
            text-align: justify;
        }
    }

}