/* atualizar informações importantes aqui */

@font-face {
    font-family: 'BLANKA';
    src: url(../fontes/Blanka-Regular.ttf) format('truetype');
}

:root{
    --phx: #FE7F02;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: aliceblue;
    /* cursor: url("../fotos/phoenix-2022-sem-fundo-mouse.png"), auto; */
}

/* :hover{
    cursor: url("../fotos/phoenix-2022-sem-fundo-mouse.png"), auto;
} */

.container{
    width: 80%; 
    margin: auto;
    overflow: hidden;
}

main h1{
    font-family: 'BLANKA', sans-serif;
}

main li h2{
    font-family: 'BLANKA', sans-serif;
} 

main ul { /* Define que nenhuma lista tanto para celular quanto para computador não tera marcador */
    list-style: none;
}

/* Estilos para celulares */
@media (orientation: portrait) {
    /* main */
    main {
        flex: 1; /* Faz com que o conteúdo principal ocupe o espaço restante */
        padding-bottom:21vh; 
        padding-left: 2vh;
        padding-right: 5vh;
    }

    main h1{
        font-size: 4.25vw;
        padding-left: 2vh;
    }

    main li h2{
        font-size: 3.75vw;
    }

    main p{
        font-size: 4.2vw;
        text-align: justify;
    }
}


/* Estilos para computadores */
@media (orientation: landscape) {
    /* main */
    main {
        flex: 1; /* Faz com que o conteúdo principal ocupe o espaço restante */
        padding-bottom:21vh; 
        padding-left: 5vh;
        padding-right: 5vh;
    }

    main #h1centralizado{
        align-items: center;
        justify-content: center;
    }

    main li h2{
        font-size: 33px;
        padding-left: 5vh;
    }    

    main p{
        font-size: 20px;
        padding-left: 5vh;
        text-align: justify;
    }
    
    @media screen and (min-width: 1800px) {   
        main h1{
            display: flex;
            font-size: 5vh;
            padding-bottom: 0.1vh;
        }
    }


    @media screen and (max-width: 1799px) and (min-width: 1200) {
        main h1{
            display: flex;
            font-size: 200px;
            padding-bottom: 3vh;
        }
    }

    @media screen and (max-width: 1199px) {   
        main h1{
            display: flex;
            font-size: 10vh;
            padding-bottom: 1vh;
        }
    }
}