.image-slider {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.image-slider img {
    display: inline-block;
    width: 100%;
    height: auto;
    animation: slide 4s linear infinite; /* Altere o valor '5s' para ajustar a duração da animação */
}
  
@keyframes slide {
    0% {
      transform: translateX(0);
    }
    50% {
        transform: translateX(0);
      }
    60% {
        transform: translateX(-100%);
    }
    100% {
      transform: translateX(-100%);
    }
}